*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
/* @font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  } */
body{
    background-color: #F8F4F5!important;
}
@media (min-width: 1400px)
{
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1180px!important;
}
}
h1,h2,h3,h4,h5,p,span,a
{
    font-family: 'Open Sans', sans-serif;
    color: #034067;
}
/* title */
.title
{
    width: fit-content;
    position: relative;
}
.title .title-top
{
    position: relative;
    z-index: 1;
    font-size: 36px;
}
.title >div
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius:30px ;
    background-color: #F9EF5A;
}



header .header-content {
    padding: 10px 0;
    
}
header .logo img {
    max-height: 76px;
}

.navigation {
    width: 100%;
    font-family: var(--nav-font);
    background-color: var(--nav-bg-color);
}
header .header-content .navigation .container {
    width: 100%!important;
    padding: 0!important;
}
header .row-flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navigation ul.main-menu.navbar-right {
    justify-content: space-between;
}
.navigation ul.main-menu {
    position: relative;
    display: flex;
}
.navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation ul.main-menu>li:not(.mega-menu) {
    position: relative;
}
.navigation ul.main-menu>li a {
    font-family: var(--nav-font);
    font-weight: var(--nav-weight);
    font-size: var(--nav-font-size);
    color: #034067;
    padding: 8px 20px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
}
.navigation ul.main-menu>li.active,
.navigation ul.main-menu>li:hover
{
    background-color: #F9EF5A;
    border-radius: 30px;
}
.navigation ul.main-menu>li a span {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

header
{
    background-color: #F8F9D0;
}
/* -------------------------------- */
.about
{
    background-color: #F8F9D0;

}
.about .row
{
    justify-content: center;
    align-items: center;
}

.about .content
{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top:50px;
}
.about .list-tools
{
    display: flex;
    gap: 10px;
}
.about .list-tools .img
{
    width: 60px;
    height: 60px;
    border-radius: 12px;
    overflow: hidden;
}
.about .list-tools .img img
{
    width: 100%;
}

.about .avt img
{
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/7.png);
    background-position: center;
}


/* ---------------------------------------- */
.info-personal  .box-info
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.info-personal .box-info div.title
{
    margin: auto;
    margin-bottom: 40px;
}
.info-personal  .box-info .edu .list-edu
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    background-color: #F8F9D0;
    border-radius: 10px;
    
}
.info-personal .box-info .edu .list-edu .item:nth-child(1),
.info-personal .box-info .edu .list-edu .item:nth-child(2) {
    grid-column: span 1;
}
.info-personal .box-info .edu .list-edu .item:nth-child(3)
{
    grid-column: span 2;
}
.info-personal .box-info .edu .list-edu .item:nth-child(1)
{
  
}
.info-personal .box-info .edu .list-edu .item:nth-child(2)
{
    padding-left: 15px;
    border-left:3px solid #F9EF5A;
}
.info-personal  .box-info .edu .list-edu .item p.title
{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
}
.info-personal .box-info .edu .list-edu .item p.description
{
    color: #F3781E;
}

.info-personal  .box-info .interests .list-interests {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info-personal  .box-info .interests .list-interests .item
{
    display: flex;
    gap: 5px;
    align-items: center;
}
.info-personal  .box-info .interests .list-interests .item i
{
    color:#F3781E;
}
.info-personal  .box-info .interests .list-interests .item p
{
    margin: 0;
}
.info-personal  .box-info .interests .list-interests
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:10px 20px;
    background-color: #F8F9D0;
    border-radius: 10px;
    
}


/* --------------------------------- */
.abilities
{
    margin-top: 100px;
}
.abilities .title
{
    margin: auto;
    margin-bottom: 40px;
}
.abilities .box-item
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.abilities .box-item .box-content
{
    background-color: #C2E7F0;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 12px 10px;
}
.abilities .box-item .box-content p
{
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


/* --------------------- */

.experience
{
    margin-top: 100px;
}
.experience div.title
{
    margin: auto;
    margin-bottom: 40px;
}
.experience .box-item
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.experience .box-item .box-content
{
    border-radius: 16px;
    border: 2px solid #034067;
    padding: 15px;
}
.experience .box-item .box-content p
{
    margin: 0;
}
.experience .box-item .box-content .title-ex
{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    text-transform: uppercase;
}
.experience .box-item .box-content .company
{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #F3781E;
}
.experience .box-item .box-content .time
{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color:#000;
}
.experience .box-item .box-content .box-desc
{
    margin-top:16px;
}
.experience .box-item .box-content .box-desc .item
{
    display: flex;
    gap: 5px;
    align-items: start;
    padding: 8px 0;
}
.experience .box-item .box-content .box-desc .item i
{
    margin-top: 3px;
    color:#F3781E;

}



/* ------------------------------------------ */
.project
{
    margin-top: 100px;
    margin-bottom: 100px;
}
.project .title
{
    margin: auto;
    margin-bottom: 40px;
}
.project .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.project .img{
    position: relative;
    width: 100%;
    height: inherit;
    border-radius: 0;
    overflow: hidden;
    padding-top: 59%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}
.project  .img a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.project  .img a img
{
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inherit;
    transition: all .5s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ----------------------------- */
footer
{
    background-color: #034067;
    padding: 30px;
}
footer .logo img {
    max-height: 76px;
}
footer .text-right
{
    display: grid;
    align-items: center;
}
footer .text-right p,
footer .text-right a
{
    color: #fff;
}
footer .text-right p
{
    margin: 0;
}